#map {
    margin    : 5px;
    position  : fixed;
    left      : 0%;
    right     : 60%;
    top       : 0%;
    bottom    : 40%;
}
#aud {
    margin    : 5px;
    position  : fixed;
    left      : 0%;
    right     : 60%;
    top       : 60%;
    bottom    : 0%;
}
#sug {
    margin    : 5px;
    text-align: center;
    position  : fixed;
    left      : 40%;
    right     : 0%;
    top       : 0%;
    bottom    : 30%;
}
#dem {
    margin    : 5px;
    background-color : #3b8bba;
    text-align: center;
    position  : fixed;
    left      : 40%;
    right     : 0%;
    top       : 70%;
    bottom    : 0%;
    font      : 24px/1.4 'helvetica neue',helvetica,arial,sans-serif;
    color     : white
}
div img {
   display: block;
   max-width:100%;
   max-height:100%;
}
